body {
  font-family: courier;
  padding: 20%;
  background-image: url('https://i.imgflip.com/2ad2k8.jpg');
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height:50%;
  width:95%;
}

.sidenav {
  height: 100%;
  width: 18%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, .75);
  overflow-x: hidden;
}

.header {
  padding: .75%;
  width: 80%;
  font-size: 275%;
  text-align: center;
  outline-style: double;
  padding: 1%;
}

.posts{
  background-color: rgba(225, 225, 225, .5);
  padding: 1%;
  width: 81%;
  font-size: 125%;
  text-align: center;
}

.footer {
  padding: 1%;
  background-image: url('https://cdn.pixabay.com/photo/2019/03/14/22/12/blueprint-4056027_960_720.jpg');
  opacity: .75;
  text-align: center;
  /*background-color: rgba(48, 49, 78, .5);*/
  margin-top: 1%;
  width: 81%;
}

/* Change color on hover */
.sidenav a:hover {
  background-color: #ddd;
  color: black;
}

/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 800px) {
  .leftcolumn, .rightcolumn {
    width: 100%;
    padding: 0;
  }
}
