
 body {
  font-family:  courier;
  background-image: url('https://cdn.vox-cdn.com/thumbor/s9GMHAEVRTGKN-0DlLqxCh7trzg=/0x0:1920x1080/1200x675/filters:focal(807x387:1113x693)/cdn.vox-cdn.com/uploads/chorus_image/image/63256629/ply_best_memes_2019.0.jpg');
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height:50%;
  width:10%;
}

.sidenav a {
  color: white;
  padding: 5%%;
  text-decoration: none;
  display: block;
}
