<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>MEME SEARCH-INATOR:BLOG</title>
    <link rel="stylesheet" href="/static/BlogPage.css">
    <link rel="stylesheet" href="/static/sidenav.css">
  </head>
  <body>

  <div class="sidenav">
    {% if logged_in %}
      <p> HI, {{name}} </p>
      <a href="{{signout_url}}">SIGN OUT</a>
    {% else %}
      <p>CHOOSE WISELY</p>
      <a href="{{login_url}}">LOGIN</a>
      <a href="{{register_url}}">REGISTER</a>
    {% endif %}
    <a href="/">SEARCH</a>
    <a href="/Messages">MESSAGES</a>
    <a href="/Blog">BLOG</a>
    <a href="/About">ABOUT US</a>
    <a href="/How">HOW WE DID IT</a>
  </div>

<div class="header">
  <h2>WHAT DO WE MEME?</h2>
</div>
<br>
    <div class="posts">
      <div>
      <h2>WHAT MEMES MEAN TO US- DEAN</h2>
      <h5> Aug 1, 2019</h5>
        <p>bwduqiegfu</p>
      </div>

      <div>
      <h2>WHAT MEMES MEAN TO US- APRIL</h2>
      <h5> August 1, 2019</h5>
        <p>bwduqiegfu</p>
      </div>

      <div>
      <h2>WHAT MEMES MEAN TO US- AMARA </h2>
      <h5> July 31, 2019</h5>
        <p>bwduqiegfu</p>
      </div>
    </div>

<div class="footer">
  <h2>NEVER BE MEMELESS</h2>
</div>

  </body>
</html>
