<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>BLOG OF MEMES</title>
    <link rel="stylesheet" href="/static/BlogPage.css">
  </head>
  <body>

<div class="header">
  <h2>Blog Name</h2>
</div>

<div class="rows">
  <!-- NEW BLOG POSTS HERE
  <div class="post#">
    <h2>TITLE OF POST</h2>
    <h5> July ##, 2019</h5>
    <div class="" style="height:200px;">A MEME</div>
    <p>Some text..</p>
  </div> -->
  <div class="leftcolumn">
    <div class="post1">
      <h2>WHAT MEMES MEAN TO US</h2>
      <h5> July 29, 2019</h5>
      <div class="https://preview.redd.it/xqn0u7mm2ld31.png?width=640&crop=smart&auto=webp&s=622773dd62c5f1e552f5258b7c23e04f1ca3e991"
      style="height:200px;">A MEME
      </div>
      <p>Some text..</p>
    </div>
  </div>
  <div class="rightcolumn">
    <div class="aboutUs">
      <h2>THIS IS US</h2>
      <!-- PIC OF US<div class="fakeimg" style="height:100px;">Image</div>-->
      <p>Dean, April, and Amara are just sine memers who want to share
          thier love of memes with the rest of the world. They enjoy lOnG
          wALkS tO tHE fRiDGe, doges, abd The Office. And Coding.</p>
    </div>
    <div class="follow">
      <h3>YOU SHOULD FOLLOW US</h3>
      <p>APRIL: @aprildottincarter
         AMARA: @amarachimez
         DEAN:  *literally only has LinkedIN*
      </p>
    </div>
  </div>
</div>

<div class="footer">
  <h2>NEVER BE MEMELESS</h2>
</div>



  </body>
</html>
