<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>MEME-SEARCH-INATOR</title>
    <link rel="stylesheet"  href="/static/HomePage.css">
  </head>
  <body>
    <div class="content">
      <h1>MEME INATOR </h1>
    </div>
    <div class="sidenav">
      {% if logged_in %}
        <p>Hi, {{name}}</p>
        <a href="{{signout_url}}">Sign Out</a>
      {% else %}
        <p>CHOOSE WISELY</p>
        <a href="{{login_url}}">Login</a>
        <a href="{{register_url}}">Register</a>
      {% endif %}
      <a href="#">SEARCH</a>
      <a href="#">MESSAGES</a>
      <a href="#">BLOG</a>
    </div>
  </body>
</html>
