<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/static/HowPage.css">
    <!--<link rel="stylesheet" href="/static/sidenav.css">-->
  </head>
  <body>
    <div class="sidenav">
      {% if logged_in %}
        <p> HI, {{name}} </p>
        <a href="{{signout_url}}">SIGN OUT</a>
      {% else %}
        <p>CHOOSE WISELY</p>
        <a href="{{login_url}}">LOGIN</a>
        <a href="{{register_url}}">REGISTER</a>
      {% endif %}
      <a href="#">MESSAGES</a>
      <a href="#">BLOG</a>
      <a href="#">HOW WE DID IT</a>
    </div>

  </body>
</html>
