<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/static/HowPage.css">
    <!--<link rel="stylesheet" href="/static/sidenav.css">-->
  </head>
  <body>
    <div class = "sidenav">
      {% if logged_in %}
        <p> HI, {{name}} </p>
        <a href="{{signout_url}}">SIGN OUT</a>
      {% else %}
        <p>CHOOSE WISELY</p>
        <a href="{{login_url}}">LOGIN</a>
        <a href="{{register_url}}">REGISTER</a>
      {% endif %}
      <a href="/">HOME</a>
      <a href="/Search">SEARCH</a>
      <a href="/Messages">MESSAGES</a>
      <a href="/Blog">BLOG</a>
      <a href="/About">ABOUT US</a>
      <a href="/How">HOW WE DID IT</a>
    </div>

  </body>
</html>
