<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>MEME SEARCH-INATOR: REG</title>
    <link rel="stylesheet" href="/static/RegistrationPage.css">
    <link rel="stylesheet" href="/static/sidenav.css">
  </head>
  <body>

    <h1>SIGN UP BELOW!</h1>
    <br>

    <form method="post" action="/Registration">
      <input id="input1" type="text" name="display_name" placeholder=" Enter Display Name" autocomplete="off">
      <input id="input2" type="submit">
    </form>

    <br>
    <br>

    <img src="https://i.redd.it/hbfittrb1jy11.jpg" alt=""></img>

  </body>
</html>
